// Place all the styles related to the top_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  text-align:center;
  margin:0 auto 0 auto;
  width: 300px;
  background-color: #2c7cff;
  font-family: impact;
  font-size: 400%;
}

.box1 {
  background-color: #bad3ff;
  width: auto;
  border: 3px solid red
}

.box2 {
  background-color: #eeeeee;
  width: 400px;
  margin:0 auto 0 auto;
  border: 3px solid blue
}
